<h1>Review of <%= @review.product.name %></h1>

<h3>By <%= @review.author %></h3>

<h5>Rating: <%= @review.rating %> of 5 Fish</h5>

<p><%= @review.content %></p>

<hr>
<p>
  <%= link_to "Edit", edit_review_path(@review) %> |
  <%= link_to "Delete", review_path(@review), data: {
      confirm: "This will remove all content for this review. Are you sure?",
      method: "delete"
      } %>
</p> 
